.page-footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    & .container {
      display: flex;
      align-items: baseline;
    }
  }
}

.page-footer__item {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
    }
}

.page-footer .logo {
  margin-bottom: 20px;
}

.page-footer__address {
  font-style: normal;
}

.page-footer__address-map-link {
  margin-bottom: 9px;

  font-weight: normal;
  line-height: 1.72;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--cursor-text-color);
  }
}

.page-footer__address-item {
  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.page-footer__address-link {
  margin-bottom: 20px;

  font-weight: normal;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--cursor-text-color);
  }
}

.page-footer__communication {
  margin-left: 70px;
}

.page-footer__communication-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  color: var(--primary-title-color);

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.page-footer__email {

  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.social-list-footer {
  display: flex;
  justify-content: center;
}

.social-item-footer {
  width: 44px;
  height: 44px;

  & + .social-item-footer {
    margin-left: 10px;
  }
}

.socail-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--cursor-text-color);
  }
}

.social-link-footer:hover .socail-icon-footer,
.social-link-footer:focus {
  fill: var(--primary-white-color);
}

.footer-email-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  .footer-email {
    display: block;
    height: 50px;
    padding: 15px 16px;

    width: 100%;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;
    color: var(--primary-title-color);

    @media screen and (min-width: 768px) {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  .footer-btn {
    width: 200px;
    height: 50px;
    display: flex;
    position: relative;
    font-size: 16px;
  }

  .icon-send {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }
}
