.hero__container {
  padding: 118px 60px;

  @media screen and (min-width: 768px) {
    padding-right: 204px;
    padding-left: 204px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 252px;
  }
}

.hero {
  background-color: var(--hero-background-color);
  // height: 600px;
  // max-width: 1600px;

  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/hero-section/hero-img-mob.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./images/hero-section/hero-img-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./images/hero-section/hero-img-tab.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(./images/hero-section/hero-img-tab-2x.jpg);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero-section/hero-img-des-2x.jpg);
      }
    }
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

  .hero__item {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-title-color);
    @media screen and (min-width: 480px) {
      @include font(900, 26px, 1.6, 0.06em);
    }

    @media screen and (min-width: 1200px) {
      @include font(900, 44px, 1.37, 0.06em);
    }
  }

  .hero__btn {
    @media screen and (max-width: 480px) {
      font-size: 10px;}

    display: flex;
    margin-right: auto;
    margin-left: auto;

    font-family: "Roboto", sans-serif;
    @include font(700, 16px, 1.87, 0.06em);
    cursor: pointer;

    color: #ffffff;
    background-color: #2196f3;
    border: 0;
    padding: 10px 32px;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
