.partner-item + .partner-item {
  margin-left: 30px;
}

.partner-link {
  display: flex;
  /* width: 170px; */
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--cursor-text-color);
    color: var(--cursor-text-color);
  }
}
.partner {
  @media screen and (min-width: 480px) {
    --card-set-item: 2;
  }

  @media screen and (min-width: 768px) {
    --card-set-item: 3;
  }

  @media screen and (min-width: 1200px) {
    --card-set-item: 6;
  }
}

.partner-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
