.cards {
  @media screen and (min-width: 480px) {
    --card-set-item: 1;
  }

  @media screen and (min-width: 768px) {
    --card-set-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --card-set-item: 3;
  }
}

.hidden-top-text {
  position: relative;
  overflow: hidden;
}

.top-text {
  font-weight: normal;
  font-size: 18px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 28px;
  letter-spacing: 0.03em;

  top: 0;
  height: 100%;

  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.examples-tittle {
  @include font(bold, 18px, 2, 0.06em);
  color: var(--secondaty-title-color);
  margin-bottom: 4px;
}

.examples-link {
  display: flex;
  flex-direction: column;

  height: 100%;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    & .top-text,
    & .top-text {
      transform: translateY(0);
    }
  }
}

.examples-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondaty-text-color);
}

.list-item-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  flex-grow: 1;
}

.portfolio-img {
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  //   height: 294px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 354px;
  //   height: 294px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 370px;
  //   height: 294px;
  // }
}
