.team {
  background-color: var(--team-background-color);

  @media screen and (min-width: 480px) {
    --card-set-item: 1;
  }

  @media screen and (min-width: 768px) {
    --card-set-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --card-set-item: 4;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team__img {
  margin-bottom: 30px;

  @media screen and (min-width: 320px) {
    width: 291px;
    height: 280px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 460px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
}
}

.team__title {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondaty-title-color);
}

.team__text {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondaty-text-color);
  margin-bottom: 16px;
}