.filter-btn {
  font-family: "Roboto", sans-serif;
  @include font(500, 16px, 1.62, 0.03em);

  cursor: pointer;

  color: #212121;
  background: #f5f4fa;

  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--cursor-text-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.filter-list {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: -15px;
    margin-left: -8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-item {
  margin-left: 8px;
  margin-top: 15px;
}

.current-btn {
  background-color: var(--cursor-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
