.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--cursor-text-color);
}
.logo-header {
  color: var(--secondary-logo-color);
}

.logo-footer {
  color: var(--primary-white-color);
}
