.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .modal {
      opacity: 0;
      transform: scale(0);
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--cursor-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-btn {
  padding: 10px 55px;
  @media screen and (max-width: 480px) {
    font-size: 10px;}

  display: flex;
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto", sans-serif;
  @include font(700, 16px, 1.87, 0.06em);
  cursor: pointer;

  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.svg-btn {
  width: 18px;
  height: 18px;
}

.modal-title {
  @include font(bold, 20px, 23px, 00.03em);
  text-align: center;

  color: var(--secondaty-title-color);

  display: block;
  margin-bottom: 12px;
}

.label-input {
  @include font(normal, 12px, 14px, 0.01em);

  color: var(--secondaty-text-color);

  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;
  padding-right: 20px;
  outline: none;

  &:focus,
  &:hover {
    border-color: var(--cursor-text-color);
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--cursor-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .input-icon {
  fill: var(--cursor-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  margin-bottom: 20px;

  resize: none;
  color: var(--secondaty-text-color);

  &:focus,
  &:hover {
    border-color: var(--cursor-text-color);
  }

  &::placeholder {
    color: var(--secondaty-text-color);
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  display: block;
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.chek-text {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
  margin-bottom: 30px;

  display: flex;
  align-items: center;

  margin-right: 8px;
  margin-left: 8px;

  @media screen and (min-width: 320px) {
    font-size: 6px;
  }
  @media screen and (min-width: 480px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.chek-text span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--secondaty-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.chekbox:checked + .chek-text span {
  background-color: var(--cursor-text-color);
  border: none;
  cursor: pointer;
}

.chekbox:hover + .chek-text span {
  border: 1px solid var(--cursor-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chekbox:focus + .chek-text span {
  border: 1px solid var(--cursor-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chekbox {
  &:focus,
  &:hover {
    fill: var(--cursor-text-color);
  }
  & .visual-hidden:focus,
  & .visual-hidden:hover {
    border-color: var(--cursor-text-color);
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .chek-icon:hover {
//   border-color: var(--cursor-text-color);
// }

.conditions-text {
  line-height: 24px;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--cursor-text-color);
}

.chek-icon {
  width: 15px;
  height: 16px;
}
