:root {
  --primary-title-color: #ffffff;
  --secondaty-title-color: #212121;
  --primary-text-color: #212121;
  --secondaty-text-color: #757575;
  --cursor-text-color: #2196f3;
  --secondary-logo-color: #000000;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --border-line-color: #ececec;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --card-set-item: 1;
}
